{% extends "index.html" %}

{% block saturs %}

    <div class="container-fluid">
        <h1>⌘ RVT tērzētava</h1>
    </div>


    <div class="container">
        <div id="chats" class="saraksts">

        </div>


        <div class="input-group text-box">
            <input id="zinja" type="text" class="form-control" placeholder="Raksti šeit...">
            <div class="input-group-append">
            <button onclick="suutiZinju()" class="btn btn-primary" type="button">Sūtīt</button>  
            </div>
        </div>
    </div>


{% endblock %}